body {
    margin: 0px;
}

header {
    background-image: linear-gradient( to right, white, rgb(252, 61, 93), red );
    height: 70px;
    display: flex;
}


header .referencias {
    margin-left: 600px;
    color:black;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    list-style: none;
    margin-top: 10px;
}

header img {
    margin-top: 0px;
    width: 170px;
    height: 70px;
}

main {
   display: flex;
   background-image: url(fundo2.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   opacity: 0.7;
   height: 1000px;
}

main .fundo {
    background-color: rgb(253, 29, 66);
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 500px;
    align-content: center;
}


footer {
    background-color: red;
    height: 70px;
    display: flex;
}

footer .informações {
    margin-left: 400px;
    color:black;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    list-style: none;
    margin-top: 10px;
    text-align: center;
}

