body {
    margin: 0px;
}

header {
    background-image: linear-gradient( to right, white, rgb(252, 61, 93), red );
    height: 70px;
    display: flex;
}

header .referencias {
    margin-left: 600px;
    color:black;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    list-style: none;
    margin-top: 10px;
}

header img {
    margin-top: 0px;
    width: 170px;
    height: 70px;
}

main {
   display: flex;
   background-image:linear-gradient(rgb(252, 61, 93), red );
   background-repeat: no-repeat;
   background-size: cover;
   opacity: 0.7;
   height: 1000px;
}

main .banner {
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 63px;
    margin-top: 90px;
    border-bottom: 5px solid rgb(255, 255, 255);
    background-size: cover;
}


main .noticias1 {
    color:black;
    height: 80px;
    width: 50px;
    font-size: 30px;
    flex-direction: row;
}

footer {
    background-color: red;
    height: 70px;
    display: flex;
}

footer .informações {
    margin-left: 400px;
    color:black;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    list-style: none;
    margin-top: 10px;
    text-align: center;
}

---------------------------------------------------------------

/* body{
  background:#ccc;
}
.main {
  font-family:Arial;
  width:500px;
  display:block;
  margin:0 auto;
}
h3 {
    background: #fff;
    color: #3498db;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
}
.action{
  display:block;
  margin:100px auto;
  width:100%;
  text-align:center;
}
.action a {
  display:inline-block;
  padding:5px 10px; 
  background:#f30;
  color:#fff;
  text-decoration:none;
}
.action a:hover{
  background:#000;
} */
